$easytoreadcolor: #fbf5e6;
$papercolor: #fbfbf8;
/* Other white colors: https://encycolorpedia.com/fdf5e8 */
@media screen {$easytoreadcolor: #fbf5e6;}
@media screen {$papercolor: #fbf5e6;}
@media print {$easytoreadcolor: white}
h1,h2,h1+h5,h6 {text-align: center;}
ul {list-style-type: none;
  padding-left: 0
}
/* TODO Use a variable for margin and colors*/
body {background-color: $papercolor}
section {margin:0 10% 0 10%}
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
// #criteria {
//   margin: 0 30vw 0 30vw;
//   width: 40vw;
// }
#criteria {
  margin: 0 30% 0 30%;
  width: 40%;
}

.goodreads, .classreviews, .yourreview {
  border-style: double;
  border-color: black;
  border-width: 5px;
}
.onerow {
    display: inline-block; //Or display: inline;
}
.navbuttons {
  padding:10px;
  margin:2%;
}
.navbar{
  width: 100%;
  text-align: center;
}
.TODO {color:red}
