{% extends "layout.html" %}
<body id="body" class="text-center container-fluid">
  {% block title%}
  <h2>{{subtitle}}</h2>
  <h6>(books.html)</h6>
  <h6>{{error}}</h6>
  {% endblock %}
  {% block body%}
  <div class="container">
    <div class="test">
      {% block users%}
      <h3> Form Output (for testing)</h3>
      <p>ISBN: {{isbn}}</p>
      <p>Title: {{title}}</p>
      <p>Author: {{author}}</p>
      <h3>End Form Output</h3>
      {% endblock %}
      <h2 class="TODO">Fill in books with parital inputs</h2>
      <h6 class="TODO">Start with test file using Like %a</h6>
      <div class="container">
        <h2> Book Matches</h2>
        <p class="TODO">Format 1</p>
        {% block books%}
        <ol>
          {% for book in books %}
          <li>{{ book.isbn}}, {{ book.title }}, {{book.author }},
            <a href="bookpage" class="col-xs-3 navbuttons btn-xs btn-primary active">View Book</a>
            </li>
          {% endfor %}
          </ol>
          {% endblock %}
        </div>
      </div> <!-- class.test -->
    </div> <!-- class.container -->
    <div class= "navbar">
      <span class="col-xs-2"></span>
      <span class="col-xs-3">
        <form action = "http://localhost:5000/search" method = "POST" class = "navbuttons">
          <input type="submit"  value="Search" class="btn-primary">
        </form>

      </span>
      <span class="col-xs-2"></span>
      <span class="col-xs-3">
        <form action = "http://localhost:5000/logout" method = "POST" class = "navbuttons">
          <input type="submit" value="Logout" class="btn-primary">
        </form>
      </span>
      <span class="col-xs-2"></span>
    </div> <!-- navbar -->
    {% endblock %}
