{% extends "layout.html" %}

<body id="body" class="text-center container-fluid">
  {% block title%}
  <h2>{{subtitle}} </h2>
  <h2>{{error}}</h2>
  <h6>search.html</h6>
  {% endblock %}
  {% block body%}
  <div class="container" >
    <div class="navbar">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="TODO">Deactive Search until form has one item</p>
        <nav>
          <form method="post" action="http://localhost:5000/books" class = "navbuttons">
            <div>
              <label for="isbn">ISBN: </label>
              <input name="isbn" id="isbn" >
            </div>
            <div>
              <label for="title">Title:  </label>
              <input name="title" id="title">
            </div>
            <div>
              <label for="author">Author:  </label>
              <input name="author" id="author">
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-3">
                <input type="submit"  value="Search" class="btn-primary">
              </div>
            </form>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
              <form action = "http://localhost:5000/logout" method = "POST" >
                <input type="submit" value="Logout" class="btn-primary">
              </form>
            </div>
            <div class="col-sm-2"></div>
        </nav>
      </div>
      <div class="col-sm-3"></div>
    </div> <!-- navbar -->
  </div> <!-- container -->
</body>
{% endblock %}
