{% extends "layout.html" %}
<body id="body" class="text-center container-fluid">
  {% block title%}
  {{ super() }}
  <h2>{{subtitle}}</h2>
  {% endblock %}
  {% block body%}
  <h2>{{error}} </h2>
  <div  >
    <div class="navbar">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <nav class="simpleborder">
          {% if subtitle=="Registration Page" %}
          <form method="post" action="http://localhost:5000/register" >
            <div>
              <label for="username">Username: </label>
              <input name="username" id="username" required>
            </div>
            <div>
              <label for="password">Password:  </label>
              <input type="password" name="password" id="password" required>
            </div>
            <div class="flex-container-left col-sm-12" >
              <br>
              <input type="submit" value="Register" class="btn btn-primary">
            </div>
          </form>
          {% endif %}
          {% if subtitle=="Login Page" %}
          <form method="post" action="http://localhost:5000/loginuser" >
            <div>
              <label for="username">Username: </label>
              <input name="username" id="username" required>
            </div>
            <div>
              <label for="password">Password:  </label>
              <input type="password" name="password" id="password" required>
            </div>
            <div class="flex-container-left col-sm-12" >
              <br>
              <input type="submit" value="Login" class="btn btn-primary">
            </form>
            {% endif %}
          </nav>
        </div> <!-- col-sm-6 -->
        <div class="col-sm-3"></div>
      </div> <!-- navbar -->
    </div> <!-- container -->
    {% endblock %}
